@font-face {
  font-family: "DM Sans";
  src: url("./assets/DMSans_36pt-Regular.ttf") format("truetype"); /* путь к файлу шрифта */
  font-weight: 400; /* вес шрифта */
  font-style: normal;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f4f4f4;
  word-spacing: 1px;
  letter-spacing: 1.5px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1350px;
  height: 1000px;
  background-color: white;
}

.heading-main {
  margin-top: -30px;
  margin-bottom: 50px;
  padding-top: -10px;
  padding-left: 113px;
}

h1 {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  text-align: left;
  font-size: 42px;
  color: #1e0e62;
}

p {
  font-family: "DM Sans", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: -40px;
}

.card {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 300px;
}

.first-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ebeaed;
  color: #1e0e62;
  margin-left: 110px;
}

.heading-first-card,
.heading-second-card,
.heading-third-card,
.heading-fourth-card {
  text-align: left;
  padding-left: 90px;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

.paragraph-first-card,
.paragraph-second-card,
.paragraph-third-card,
.paragraph-fourth-card {
  text-align: left;
  padding-bottom: 160px;
  width: 400px;
  height: 100px;
  color: #1e0e62;
  font-size: 16px;
  line-height: 26px;
  font-family: "DM Sans", sans-serif;
}

.paragraph-second-card {
  color: #15143966;
}

.paragraph-third-card,
.paragraph-fourth-card {
  color: white;
  font-weight: 100;
}

.button-first-card,
.button-second-card,
.button-third-card,
.button-fourth-card {
  width: 100%;
  text-align: left;
  margin-top: -100px;
  padding-left: 90px;
}

.second-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 3px solid #ebeaed;
  color: #1e0e62;
}

.third-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #482be7;
  color: white;
  margin-left: 110px;
}

.fourth-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  color: white;
  background-image: url("./assets/img-domapi-hm.png");
}

.custom-button {
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  color: #1e0e62;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
