.gallery {
  width: 1440px;
  height: 800px;
  background-color: #000015;
}

.name-of-gallery {
  padding-top: 50px;
  color: #fe772d;
  font-size: 58px;
  font-weight: 400;
  line-height: 81.2px;
  text-align: center;
  font-family: "Jolly Lodger";
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 45px;
  padding-left: 20px;
  padding-top: 50px;
}
