.page-hero {
  width: 1440px;
  height: 1100px;
  background-image: url("https://s3-alpha-sig.figma.com/img/4a5b/1f73/d4e21a6e53d5fe118c518df85acb5b53?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J~fxOY1eWeCLnsBb8qHFmnoQY4WXjKcPYPmmQyHCOXIIwlYSXmPcQi~xtq2d0x9IB2YZkqfR-ceN1mcX-~vzuIb9IpejHmECvvcWK6zX-fEmJL7oKHMOpGDrzLx4PfMqEqZjN6OVhrzj2QvIuZIO-71JrVRFq~Zx6aS1xZZFb43n8b-j35L8iVZjE1KPnjFIpZ0GgbApYmso5A~zreQbEO-MaeD-YvwGuRE3wmSrATQlGj3R2Uxq48jkzhVKQJyQqHBQ8HdzS35QzgD~i7QbEtwRQlIpsA8J3EBkwyR-samIovvZY18feT6FHoOMVZDTRA3R1P9iLWvqUVtimge2VQ__");
  background-position-x: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 1440px;
  height: 106px;
  background-color: aquamarine;
  justify-content: space-around;
  padding-top: 35px;
  width: 1, 122px;
  height: 58px;
  background-color: black;
}

.logo-partyTime {
  display: flex;
  color: white;
  font-family: "Jolly Lodger";
  font-size: 30px;
  font-weight: 400;
  line-height: 58.36px;
  text-align: left;
  margin-top: -34px;
  letter-spacing: 2px;
}

.header-components {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 550px;
  height: 40px;
  color: white;
  padding-top: 7px;
  font-family: "Rubik", sans-serif;
  gap: 25px;
}

.button-header {
  display: flex;
  width: 141px;
  height: 54px;
  padding: 16px 24px 16px 24px;
  gap: 8px;
  border-radius: 16px;
  background-color: #fe772d;
}

.performance-time {
  color: white;
  padding-left: 625px;
  font-family: "Rubik", sans-serif;
  margin-left: -52px;
  font-size: 24px;
  font-weight: 100px;
  line-height: 33.6px;
  text-align: left;
  margin-bottom: -37px;
}

.party-name {
  color: #fe772d;
  font-family: "Jolly Lodger";
  font-size: 50px;
  font-weight: normal;
  line-height: 81.2px;
  text-align: center;
  letter-spacing: 2.6px;
}

.buttonSwitchLang {
  margin-top: 21px;
  background-color: #000015;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
