body {
  width: Fixed (1, 440px) px;
  height: Fixed (3, 952px) px;
}

.main-container {
  width: 1440px;
  height: 2500px;
  background-color: #000015;
}

.page-hero {
  width: 1440px;
  height: 1100px;
  background-image: url("https://s3-alpha-sig.figma.com/img/4a5b/1f73/d4e21a6e53d5fe118c518df85acb5b53?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Rx6VT8NQ6~MM5nZQK5Nf3ZnIMzMxi7e40JhSxFROBlX8SD5cavj0ViNZvH5a-vTUjjkvS4dxsgmXUD547l4I0bYEklmUhpdzih1W5BAm-cCaSOExh5ktIaOQ39Hqbn1ha5N3lzGBvb57eYYViwgKYP60pLXNcQlMcVxhiZQJP1RGuuB9PEdv5ZCb4JrthDaDW-at1QEcNbBS2EBWa7oaCHus44ALlV1Gnjpqg0dcca4iAu2Y7BDCqpsPOilZabi9-cVBsmwseGMGc3z1HoqfEhJXVIWKXOmC55aorrgbWwPXpCrNvdOtvpq49ViGa~oCYk8io~Ipkouqq6sHsE0wyQ__");
  background-position-x: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 1440px;
  height: 106px;
  background-color: aquamarine;
  justify-content: space-around;
  padding-top: 35px;
  width: 1, 122px;
  height: 58px;
  background-color: black;
}

.logo-img {
  width: 150px;
  height: 40px;
  padding-top: 9px;
}

.header-components {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 550px;
  height: 40px;
  color: white;
  padding-top: 7px;
  font-family: "Rubik", sans-serif;
  gap: 25px;
}

.button-header {
  width: 141px;
  height: 54px;
  padding: 16px 24px 16px 24px;
  gap: 8px;
  border-radius: 16px;
  background-color: #fe772d;
}

.performance-time {
  color: white;
  padding-left: 625px;
  font-family: "Rubik", sans-serif;
  margin-left: -52px;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
}

.party-name {
  color: #fe772d;
  font-family: "Jolly Lodger";
  font-size: 50px;
  font-weight: normal;
  line-height: 81.2px;
  text-align: center;
  letter-spacing: 2.6px;
}

/* SECTION GALLERY */

.gallery {
  width: 1440px;
  height: 700px;
  background-color: #000015;
}

.name-of-gallery {
  padding-top: 50px;
  color: #fe772d;
  font-size: 58px;
  font-weight: 400;
  line-height: 81.2px;
  text-align: center;
  font-family: "Jolly Lodger";
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 45px;
  padding-left: 20px;
  padding-top: 50px;
}

/*SECTION FOOTER */

.footer-page {
  width: 1440px;
  height: 1000px;
  background-color: #000015;
}

.footer-container {
  width: 1440px;
  height: 1020px;
  position: relative;
}

.grassFooter-img {
  width: 1440px;
  height: 700px;
  margin-top: 300px;
}

.number-footer {
  color: #fe772d;
  margin-left: 422px;
  margin-top: 640px;
  position: absolute;
  padding-top: 50px;
  color: #fe772d;
  font-size: 58px;
  font-weight: 400;
  line-height: 81.2px;
  text-align: center;
  font-family: "Jolly Lodger";
}

.socialNetworks-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -200px;
}
